.room_image {
    border-radius: 100%;
    height: 40px;
    margin-right: 10px;
}

.room_link {
    color: #fff !important;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
}

.room_search {
    background: transparent;
}


.username_own {
    color: #fff;
    margin-right: 60px;
    /* margin-bottom: 10px; */
}

.username_other {
    color: #fff;
    margin-left: 50px;
    /* margin-bottom: 10px; */
}

.date {
    margin-bottom: 0px;
    font-size: 12px;
}

.chat_text {
    margin-top: 10px;
    color: #fff;
}

.chat_input {
    background-color: transparent !important;
    color: #fff !important;
    width: 100%;
}

.chat_input::placeholder {
    color: #fff !important;
}

.chat_input:focus {
    background-color: rgb(63, 63, 112) !important;
}


.message {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    ;
  }
  
  .messageTop {
    display: flex;
    width: fit-content;
  }
  
  .messageImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .messageText {
    padding: 5px 10px 5px 10px;
    border-radius: 0 20px;
    background-color: #1877f2 !important;
    color: white;
    max-width: 300px;
  }


  
  .meta_own {
    font-size: 10px;
    font-weight: 600;
    color: var(--dark-color-b);
    opacity: 0.7;
    margin-bottom: 7px;
    margin-right: 55px;
    color: #1877f2;
  }
  
  .meta {
    font-size: 10px;
    font-weight: 600;
    color: var(--dark-color-b);
    opacity: 0.7;
    margin-bottom: 7px;
    margin-left: 45px;
    color: #1877f2;
  }
  
  .ownMessageBottom {
    font-size: 12px;
    margin-right: 56px;
  }
  
  .messageBottom {
    font-size: 12px;
    margin-left: 45px;
  }
  
  .message.own {
    align-items: flex-end;
  }
  
  .message.own .messageText {
    background-color: rgb(248, 229, 229);
    color: black;
    margin-right: 10px;
  }

  .chatBoxTop {
    height: 460px !important;
  }
  

  .chatBoxTop::-webkit-scrollbar {
    width: 7px;
    height: 1px;
  }
  
  .chatBoxTop::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 5px rgb(0 0 0 / 20%);
    background: #c4c1c1;
  }
  
  .chatBoxTop::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgb(0 0 0 / 20%);
    background: #f9f9f9;
  }
  
  
  .overflow {
    overflow-y: scroll;
    height: 500px;
    margin-top: 100px;
  }

  .overflow::-webkit-scrollbar {
    width: 7px;
    height: 1px;
  }
  
  .overflow::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 5px rgb(0 0 0 / 20%);
    background: #c4c1c1;
  }
  
  .overflow::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgb(0 0 0 / 20%);
    background: #f9f9f9;
  }

  .input_img {
    width: 30px;
    cursor: pointer;
    margin-left: -30px;
  }

  .main_text {
    color: #fff;
    /* font-size: 20px;
    margin-bottom: 50px; */
  }
  .sidebar {
    height: 100%;
  }
    